@import "../../themes/variables.scss";

app-live-chat {
    margin-left: 25px;
    margin-right: 25px;
}

.line-height-2p5 {
    line-height: 2.5;
}

.margin-right {
    margin-right: 1em;
}

.chat-username {
    font-weight: bold;
    display: none;
}

.chat-time {
    font-size: 1.5ex;
    float: right;
    display: none;
}

.chat-messages {
    list-style-type: none;
    padding-left: 0;
    overflow: hidden;
}

.chat-container {
    display: flex;
}

.chat-container.to {
    justify-content: flex-end;
}

.chat {
    display: inline-block;
    border-radius: 10px;
    padding-top: 1ex;
    padding-bottom: 1ex;
    padding-left: 1ex;
    padding-right: 1ex;
    margin-bottom: 1ex;
}

.chat.from {
    border-bottom-right-radius: 0;
}

.chat.to {
    border-bottom-left-radius: 0;
}

.chat.to .chat-time {
    float: left;
}

.chat-input-animation {
    position: absolute;
    left:0;
    top: 0;
    opacity: 0;
}