@import '~@angular/material/theming';

@mixin chat-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);

  $primary-color: mat-color($primary);
  $accent-color: mat-color($accent);
  $background-color: map-get($background, background);
  $lighten-background-color: lighten( $background-color, 10% );

  .chat.to {
    background-image: linear-gradient(180deg, rgba($accent-color, .3) 0%, rgba($accent-color, .25) 50%, rgba($accent-color, .3) 100%);
  }

  .chat.from {
    background-image: linear-gradient(180deg, rgba($lighten-background-color, .3) 0%, rgba($lighten-background-color, .25) 50%, rgba($lighten-background-color, .3) 100%);
  }
}